ul {
  list-style-type: none;
}

section {
  margin-bottom: 2rem;
}

.img-60 {
  width: 60%;
}

.p-img-section {
  padding-top: 200px;
  padding-bottom: 50px;
}

.bg-1-section {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position-x: center;
}

.opacity-items {
  opacity: 0.5;
}

.opacity-items:hover {
  opacity: 1;
  cursor: pointer;
  border-bottom: 2px solid lightblue;
}
