:root {
  --btn-bg-color-orange: #ce3c10;
  --section-new-arrive-color: #383836;
}

ul {
  list-style-type: none;
}

header ul {
  margin: 0;
}

.bg-section-color {
  background-color: var(--section-new-arrive-color);
}

.margin-main {
  margin-top: 8rem;
}

.bg-secondary {
  background: #383836;
}

.bg-now {
  background-color: #161c3b;
}

.bg-footer {
  background-color: #00449b;
}

.btn-warning {
  background-color: var(--btn-bg-color-orange);
  border-color: var(--btn-bg-color-orange);
  color: white;
}

p {
  padding: 1rem 0;
}

h2 {
  padding: 1rem 0;
}

section {
  margin-bottom: 2rem;
}

footer a {
  text-decoration: none;
  color: white;
}

.img-60 {
  width: 60%;
}

.img-100-px {
  width: 100px;
}

.img-25-25 {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}

.img-10-10 {
  width: 10px;
  height: 10px;
}
.img-h-350 {
  height: 350px;
}

.p-img-section {
  padding-top: 200px;
  padding-bottom: 50px;
}

.bg-1-section {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position-x: center;
}

.bg-6-section {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position-x: center;
}

.opacity-items {
  opacity: 0.5;
}

.opacity-items:hover {
  opacity: 1;
  cursor: pointer;
  border-bottom: 2px solid lightblue;
}

li:hover {
}
